<footer class="bg-info py-4 py-md-0">  
    <div class="container d-flex align-items-center justify-content-sm-between justify-content-center">    
        <ul class="d-flex"> 
            <li class="footer-link nav-item border-0">
                <a class="nav-link h6 text-center text-dark font-weight-bolder py-5 py-md-6 px-md-7" href="#">Product</a>
            </li>
            <li class="footer-link nav-item border-0">
                <a class="nav-link h6 text-center text-dark font-weight-bolder py-5 py-md-6 px-md-7" href="#">Blog</a>
            </li>
            <li class="footer-link nav-item border-0">
                <a class="nav-link h6 text-center text-dark font-weight-bolder py-5 py-md-6 px-md-7" href="#">contact</a>
            </li>
        </ul>
        <p class="h7 text-center text-secondary d-md-block d-none">© 2020 Fixie. All Rights Reserved.</p>
        <h4 class="m-md-7"><a class="navbar-logo d-sm-block d-none" href="index.html">Fixie_bike</a></h4>
    </div>
</footer>

