.btn__arrow {
    & .material-icons {
        padding: 29px 39px;
        transition: all .5s;
        color: $dark;
    }
    &:hover {
        background: $dark;
        & .material-icons {
            color: $white;
        }
    }
}
.btn__hover {
    font-size: 24px;
    padding: 11.5px 0;
    width: 40%;
    font-weight: bolder;
    transition: all .5s;
    &:hover {
        color: $white;
        background: $dark;
    }
}
.hover__group {
    @include align-middle;
    width: 211px;
    right: -61px;
    z-index: 1;
    &.hover__group--next {
        left: -150px;
        z-index: 1;
        & .hover__group--white {
            width: 150px;
        }
        & .hover__group--dark {
            width: 61px;
        }
    }
    & .hover__group--dark {
        width: 150px;
        background: $white;
        color: $dark;
    }
    & .hover__group--white {
        width: 61px;
        background: $dark;
        color: $white;
    }
    &:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    &:hover .hover__group--dark {
        background: $dark;
        color: $white;
    }
    &:hover .hover__group--white {
        background: $white;
        color: $dark;
    }
}
