.navbar {
    &-logo {
        @include banner('../images/logo-fixie.svg', 48px);
        @include hide-text;
        width: 112px;
    }
}
.nav-item {
    border-bottom: 1px solid $lgray;
    &:hover, &:focus {
        background: $info;
    }
    &:nth-child(1) {
        border-top: 1px solid $lgray;
    }
}
.nav-link {
    position: relative;
    &:before {
        @include nav-hover;
        height: 8px;
        width: 90px;
        background: #ADADAD;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
}

@include pad {
    .nav-link {
        &.h5 {
            font-size: 24px;
        }
        &:hover {
            background: transparent;
        }
    }
    .navbar {
        padding: 0.5rem 1rem;
    }
    .nav-item {
        border-bottom: 0px solid transparent;
        &:hover, &:focus {
            background: transparent;
        }
        &:hover .nav-link:before, &:focus .nav-link:before {
            display: block;
        }
        &:nth-child(1) {
            border-top: 0px solid $lgray;
        }
    }
}

/*--------- dropdown icon ---------*/

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color; 
}
.navbar {
    &-icon {
        right: 38px;
        top: 20px;
    }
    &-toggler {
        border: 0px solid transparent;
    }
}
.toggler-bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: $dark;
    border-radius: 10px;
    transition: .2s;
}
.toggler-bar-top {
    top: 5px;
}
.toggler-bar-middle {
    top: 16px;
}
.toggler-bar-bottom {
    top: 27px;
}
.toggler-bar-top-rotate {
    top: 15px;
    transform: rotate(45deg);
}
.toggler-bar-bottom-rotate {
    top: 15px;
    transform: rotate(-45deg);
}


/*--------- footer ---------*/
.footer-link:hover .nav-link:before{
    width: 70px;
    height: 3px;
    display: block;
}